<h1><%#= @chat_room.title %></h1>

<style>
    #remoteVideos video {
        height: 150px;
    }
    #localVideo {
        height: 150px;
    }
</style>


<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<hr>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>

<% end %>
<%#= link_to "Logout", sessions_path, method: :delete,
         data: {confirm: "are you sure you want to log out?"}%>
<div class='row' id='video-button'>
  <div class='col-sm-12 text-center'>
    <button type='button' id='pause-button' class="btn btn-success">Start A Video Call</button>
  </div>
</div>

<video id="localVideo"></video>
<div id="remoteVideos"></div>
