<!DOCTYPE html>
<html>
  <head>
    <div class='container'>

    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>

  </head>

  <body>

      <% if user_signed_in? %>
    <ol class="breadcrumb navbar-fixed-top">

        <li><span class="text-muted">Logged in as <strong><%= link_to current_user.username, edit_user_registration_path  %></strong></span></li>
        <li><%= link_to 'Chat Rooms', root_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% end %>
    </ol>

    <%= yield %>
  </div>
  </body>
</html>
