<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://simplewebrtc.com/latest-v2.js"></script>

  </head>

  <body>

    <% if user_signed_in? %>
      <span class="text-muted">Logged in as <strong><%= link_to current_user.username, edit_user_registration_path  %></strong></span>
      |
      <%= link_to 'Chat Rooms', root_path %>
      |
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% end %>


    <%= yield %>
  </body>
</html>
